<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello <%=name%> </h1>

    <p>mahmoud gaber</p>


    <p style="background: orange; padding: 10px; border-radius: 5px;">
        <%=numbers%>
    </p>

    <% if(name == "yarob"){ %>
    <div>
        Name Is <%= name %>
    </div>
    <%  } %>
</body>
</html>